<div id="CarteMenu">
    <div v-if="lesMenus">

        <md-tabs>
            <md-tab id="tab-home" md-label="Hors d'oeuvres">
                <md-table v-model="lesMenus.entree" md-card md-fixed-header>
                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Nom">{{ item.nom | capitalize }}</md-table-cell>
                        <md-table-cell md-label="Description">{{ item.description }}</md-table-cell>
                        <md-table-cell md-label="Prix">{{ item.prix }}</md-table-cell>
                    </md-table-row>
                </md-table>
            </md-tab>
            <md-tab id="tab-pages" md-label="Plats">
                <md-table v-model="lesMenus.plat" md-card md-fixed-header>

                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Nom">{{ item.nom  | capitalize}}</md-table-cell>
                        <md-table-cell md-label="Description">{{ item.description }}</md-table-cell>
                        <md-table-cell md-label="Prix">{{ item.prix }}</md-table-cell>
                    </md-table-row>
                </md-table>
            </md-tab>
            </md-tab>
            <md-tab id="tab-disabled" md-label="Desserts">
                <md-table v-model="lesMenus.dessert" md-card md-fixed-header>

                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Nom">{{ item.nom | capitalize}}</md-table-cell>
                        <md-table-cell md-label="Description">{{ item.description }}</md-table-cell>
                        <md-table-cell md-label="Prix">{{ item.prix }}</md-table-cell>
                    </md-table-row>
                </md-table>
            </md-tab>
            </md-tab>
        </md-tabs>

    </div>
</div>