<div id="RestaurantDetail">
    <!--<router-link to="/">
        <md-button class="md-dense md-raised md-primary">Retour </md-button>
    </router-link>
    -->

    <md-card v-if="restaurant">
        <md-card-area md-inset>
            <md-card-media>
                <img :src="imageRestaurant()" alt="Restaurant" id="imageRestaurantCard">
            </md-card-media>
            <md-card-header>
                <h2 class="md-title">{{restaurant.name}}</h2>
                <div class="md-subhead" v-if="restaurant.address && restaurant.borough">
                    <a @click="afficherCarte = true">
                        <md-icon>location_on</md-icon>
                        <span>{{restaurant.address.building + " " + restaurant.address.street
                        + ", " + restaurant.address.zipcode + " " + restaurant.borough }}</span>
                    </a>
                </div>
            </md-card-header>

            <md-card-content>
                <star-rating v-model="rating" v-bind:star-size="20" :read-only="true" :show-rating="false"
                    :increment="0.5">
                </star-rating>
                <b>{{restaurant.name}}</b> ont une cuisine type : <b>{{restaurant.cuisine}}</b>.

            </md-card-content>
        </md-card-area>


        <md-card-content>
            <h3 class="md-subheading">
                <md-icon>restaurant_menu</md-icon>
                Carte :
            </h3>
            <div class="card-menu">
                <CarteMenu :idRestaurant="id" :commander="false"></CarteMenu>
            </div>
        </md-card-content>

        <md-card-content>
            <md-tabs>
            <md-tab id="tab-commander" md-label="Commander en ligne" md-icon="directions_bike">
                <RestaurantCommander :idRestaurant="id"></RestaurantCommander>
            
            </md-tab>
            <md-tab id="tab-reserver" md-label="Reserver en ligne" md-icon="food_bank">
                <RestaurantReserver  :idRestaurant="id"></RestaurantReserver>
            </md-tab>
        </md-tabs>
        </md-card-content>

        <md-card-actions>
            <!-- <md-button class="md-primary">Reserver</md-button> -->
        </md-card-actions>
    </md-card>



    <md-dialog :md-active.sync="afficherCarte" id="adresseCarte" v-if="restaurant">
        <md-dialog-title>
            <md-icon>location_on</md-icon>
            <span>{{restaurant.address.building + " " + restaurant.address.street
                + ", " + restaurant.address.zipcode + " " + restaurant.borough }}</span>
        </md-dialog-title>
        <md-dialog-content>
            <div style="height: 350px; width: 600px;" v-if="restaurant">
                <!-- <div class="info" style="height: 15%, width: 15%;">
                      <span>Center: {{ center }}</span>
                      <span>Zoom: {{ zoom }}</span>
                      <span>Bounds: {{ bounds }}</span>
                    </div> -->
                <l-map style="height: 100%; width: 100%" :zoom="zoom" :center="center" @update:zoom="zoomUpdated"
                    @update:center="centerUpdated" @update:bounds="boundsUpdated">
                    <l-tile-layer :url="url"></l-tile-layer>
                    <l-marker :lat-lng="LMarker"></l-marker>
                </l-map>
            </div>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button class="md-primary" @click="afficherCarte = false">Fermer</md-button>
        </md-dialog-actions>
    </md-dialog>

    <!--DEBUT PROGRESS SPINNER-->
    <template v-if="showProgressSpinner">
        <div>
            <md-progress-spinner md-mode="indeterminate"></md-progress-spinner>
        </div>
    </template>

    <!--DIV POUR LE BLACK SCREEN PROGRESS SPINNER-->
    <div id="overlay"></div>
    <!--FIN PROGRESS SPINNER-->

</div>